<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="hms" value="https://pkgs.dev.azure.com/vervo-tech/c8a17882-0eb3-468a-b607-fe703102ff76/_packaging/hms/nuget/v3/index.json" />
  </packageSources>
</configuration>